extends ./layouts/default

block content
    .jumbotron
        h2.text-center 欢迎使用后台管理系统
        .alert.alert-success
            ol
                li
                    【销售渠道】文章标题必须是《销售渠道》。文章分类请选择各根分类（如：海贼王）
                li
                    页面两个浮动【购买链接】和【抽奖链接】在网站配置里面设置
                li
                    各大分类下面必须要有别名为【news】和【products】的分类。