extends ./layouts/default
block main
    .container
        .row
            .col-md-12
                h1
                    | #{title}
                h5.text-success
                    | #{date}
            .col-md-12.detail-content
                | !{article.content}
block ad
