meta(http-equiv="Content-Type", content="text/html; charset=utf-8")
meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
meta(name="keywords", content="#{web_cfg && web_cfg.web_keywords && web_cfg.web_keywords.value}")
meta(name="description", content="#{web_cfg && web_cfg.web_description && web_cfg.web_description.value}")
link(href="//cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet")
link(rel="stylesheet", href="//cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css")
link(rel="stylesheet", href="//cdn.bootcss.com/animate.css/3.5.2/animate.min.css")
link(rel="stylesheet", href="/css/style.css")
script(type="text/javascript", src="//cdn.bootcss.com/jquery/1.11.1/jquery.min.js")
script(type="text/javascript", src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js")
script(type="text/javascript", src="//cdn.bootcss.com/wow/1.1.2/wow.js")
script(type="text/javascript", src="//player.youku.com/jsapi")
script.
    new WOW().init()
